.drag-region {
  left: 0;
  top: 0;
  width: 38px;
  height: 38px;
  background: transparent;
  border-radius: 0;
  cursor: move;
  overflow: hidden;
}

.drag-region::before {
  display: none;
}

.pin {
  top: 43px;
}

.reset {
  top: 67px;
}
